## Tuple

In [1]:
mylist=[12,9,88,[33,23],(3,)]
print(f"{id(mylist)}  {type(mylist)}")

mytuple=(12,9,88,[33,23],(3,))
print(f"{id(mytuple)}  {type(mytuple)}")

139816590669504  <class 'list'>
139816600794784  <class 'tuple'>

In [2]:
another_tuple = (99.9)
print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'float'>

TypeError: object of type 'float' has no len()

In [3]:
result = (99.9)
print(type(result), result)

result = (99.9 + 232 / 322 * 23) * 4
print(type(result), result)

<class 'float'> 99.9
<class 'float'> 465.8857142857143

In [4]:
another_tuple = (99.9,)
print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'tuple'>
len(another_tuple)  1

In [5]:
another_tuple

(99.9,)

In [6]:
# NOTE: For tuple with single element, place comma at the end
# to recognize it as tuple; else recognizes as individual element

In [7]:
empty_tuple = ()  # tuple()
print("type(empty_tuple):", type(empty_tuple))
print("len(empty_tuple) :", len(empty_tuple))

type(empty_tuple): <class 'tuple'>
len(empty_tuple) : 0

In [8]:
mytuple = 1, 2, 3
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 3
(1, 2, 3)

In [9]:
mytuple = 1,
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 1
(1,)

## Attributes

In [10]:
mytuple = (12, 5, 6, 8, (5,))
print(dir(mytuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [11]:
print("len(mytuple)           =", len(mytuple))
print("mytuple.__len__()      =", mytuple.__len__())
assert len(mytuple) == mytuple.__len__()

len(mytuple)           = 5
mytuple.__len__()      = 5

In [12]:
print("str(mytuple)           =", str(mytuple))
print("type(str(mytuple))     =", type(str(mytuple)))
print("mytuple.__str__()      =", mytuple.__str__())
print("type(mytuple.__str__())=", type(mytuple.__str__()))
assert str(mytuple) == mytuple.__str__()

str(mytuple)           = (12, 5, 6, 8, (5,))
type(str(mytuple))     = <class 'str'>
mytuple.__str__()      = (12, 5, 6, 8, (5,))
type(mytuple.__str__())= <class 'str'>

In [13]:
# Tuple repetition operation - original object not modified
print()
print("mytuple * 3            =", mytuple * 3)
print("mytuple                =", mytuple)
print("mytuple.__mul__(3)     =", mytuple.__mul__(3))
print("mytuple                =", mytuple)

mytuple * 3            = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))
mytuple.__mul__(3)     = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))

In [14]:
mytuple.__imul__(3)

AttributeError: 'tuple' object has no attribute '__imul__'

In [15]:
print(f"{mytuple  == (12, 5, 6, 8, (5,))     = }")
print(f"{mytuple.__eq__((12, 5, 6, 8, (5,))) = }")

mytuple  == (12, 5, 6, 8, (5,))     = True
mytuple.__eq__((12, 5, 6, 8, (5,))) = True

In [16]:
print("\n Tuple Attributes excluding dunder methods")
for each_attribute in dir(mytuple):
    if not each_attribute.startswith("__"):
        print(each_attribute)

 Tuple Attributes excluding dunder methods
count
index

In [1]:
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

NameError: name 'mytuple' is not defined

In [2]:
mytuple = (12, 5, 6, 8, (5))
#          0   1  2  3   4
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, 5)
mytuple.count(5)       = 2

In [3]:
print("mytuple.index(8)       =", mytuple.index(8))
print("mytuple.index(5)       =", mytuple.index(5))

mytuple.index(8)       = 3
mytuple.index(5)       = 1

In [4]:
try:
    print("mytuple.index(55)      =", mytuple.index(55))
except ValueError as ex:
    print(ex)

tuple.index(x): x not in tuple

## Tuple operations

In [5]:
# Tuple concatenation

# Python is strictly type language
#   - operation is possible with same/similar types only
result = (9, 99) + (99,)
print("result   :", result)
 
result = ((9, 99) + (99,),)   # + is having more priority than , 
print("result   :", result)

result   : (9, 99, 99)
result   : ((9, 99, 99),)

In [3]:
result=(9,99)+(99,),,
print(result)

SyntaxError: invalid syntax (2431355356.py, line 1)

In [5]:
result=(9,99)+(11,1)
print(result)

(9, 99, 11, 1)

In [6]:
result=(9,99)+[11,1]
print(result)

TypeError: can only concatenate tuple (not "list") to tuple

In [7]:
# working on strings
print(f"{list('Python')  =}")
print(f"{tuple('Python') =}")

list('Python')  =['P', 'y', 't', 'h', 'o', 'n']
tuple('Python') =('P', 'y', 't', 'h', 'o', 'n')

In [8]:
# Tuple repetition
print(f"{(1,) * 3      =}")
print(f"{(1, 2) * 3    =}")
print(f"{(1, (2,)) * 3 =}")

(1,) * 3      =(1, 1, 1)
(1, 2) * 3    =(1, 2, 1, 2, 1, 2)
(1, (2,)) * 3 =(1, (2,), 1, (2,), 1, (2,))

In [11]:
# Assignment
# 1. Prove that tuple concatenation is not commutative: t1 + t2 != t2 + t1
# 2. Prove that tuple repetition is commutative       : t1 * 3 == 3 * t1
t1=(77,88,99)
t2=(66,90)
print(t1+t2)
print(t2+t1)
print(t1*3)
print(3*t1)

(77, 88, 99, 66, 90)
(66, 90, 77, 88, 99)
(77, 88, 99, 77, 88, 99, 77, 88, 99)
(77, 88, 99, 77, 88, 99, 77, 88, 99)

## Immutability

In [2]:
mytuple=(1,23,2)
print(mytuple[2])

2

In [3]:
try:
    mytuple[2]=2.22
except TypeError as ex:
    print(ex)

'tuple' object does not support item assignment

In [9]:
mytuple=(3,4,5)
print (mytuple)
mytuple=(4,4)
print(mytuple)
mytuple=(8,)
print(mytuple)
mytuple=(80)
print(mytuple)

(3, 4, 5)
(4, 4)
(8,)
80

Named Tuples

Named Tuples can be:
    1. access by index - like normal tuples
    2. access by keyname - like dictionaries
    3. using getattr()

In [10]:
student_details = ("Arjun", 26, "23/07/1992")
#                    0      1         2
print(f"{type(student_details)=}")
print(f"{student_details      =}")

# Accessing Values - using index
print("Student Name:", student_details[0])
print("Student Age :", student_details[1])
print("Student DOB :", student_details[2])

type(student_details)=<class 'tuple'>
student_details      =('Arjun', 26, '23/07/1992')
Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

In [11]:
import collections

print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_deque_iterator', '_eq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

In [12]:
# Step 1: created Named Tuple object
Students = collections.namedtuple("Students", ("name", "age", "dob"))
Students

__main__.Students

In [13]:
Students("Ram",1,"1/8/99")

Students(name='Ram', age=1, dob='1/8/99')

In [15]:
# Step 2: create tuples using that object
student_details2 = Students("Arjun", 26, "23/07/1992")
# Accessing Values - using index
print()
print("Student Name:", student_details2[0])
print("Student Age :", student_details2[1])
print("Student DOB :", student_details2[2])

# Accssing Values - using position names
print()
print("Student Name:", student_details2.name)
print("Student Age :", student_details2.age)
print("Student DOB :", student_details2.dob)

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

In [16]:
print(f"{getattr(student_details2, 'name') =}")
assert student_details2.name == getattr(student_details2, "name")
assert student_details2.age == getattr(student_details2, "age")
assert student_details2.dob == getattr(student_details2, "dob")

getattr(student_details2, 'name') ='Arjun'

In [17]:
student_details2[4]

IndexError: tuple index out of range

In [18]:
if len(student_details2) >= 5:
    print(student_details2[4])

In [19]:
student_details2.full_name

AttributeError: 'Students' object has no attribute 'full_name'

In [20]:
getattr(student_details2, 'full_name')

AttributeError: 'Students' object has no attribute 'full_name'

In [21]:
print(f"{'full_name' in dir(student_details2) = }")
print(f"{hasattr(student_details2, 'full_name') =}")

'full_name' in dir(student_details2) = False
hasattr(student_details2, 'full_name') =False

In [22]:
if hasattr(student_details2, "full_name"):
    getattr(student_details2, "full_name")

if hasattr(student_details2, "dob"):
    print(f"{getattr(student_details2, 'dob') =}")

getattr(student_details2, 'dob') ='23/07/1992'

In [ ]:
# Named Tuples are also immutable
# student_details2[1] = 45            # TypeError: 'Students' object does not support item assignment
# student_details2.age = 45           # AttributeError: can't set attribute
# setattr(student_details2, 'age', 45)  # AttributeError: can't set attribute

Unpacking

- works when same no. of variables and values are present on both sides

In [23]:
num1 = 12
num2 = 34
print(f"num1 = {num1}  num2 = {num2}")

num1 = 12  num2 = 34

In [24]:
# unpacking
num1, num2 = 12, 34
print(f"num1 = {num1}  num2 = {num2}")

num1 = 12  num2 = 34

In [25]:
p1, p2, p3, p4, p5 = 99, 88, 66, 77, 44
print(f"p1 = {p1}  p2 = {p2} p3 = {p3} p4 = {p4} p5 = {p5}")

p1 = 99  p2 = 88 p3 = 66 p4 = 77 p5 = 44

In [26]:
try:
    p1,p2,p3,p4=33,44,55,66,77
except ValueError as ex:
    print(ex)

too many values to unpack (expected 4)

In [27]:
try:
    p1,p2,p3,p4=33,44,55
except ValueError as ex:
    print(ex)

not enough values to unpack (expected 4, got 3)

In [28]:
p = 99, 88, 66, 77, 44
print(f"p={p} type(p)={type(p)}")

p=(99, 88, 66, 77, 44) type(p)=<class 'tuple'>

## flexible unpacking

In [29]:
n1, n2 = 1, 2, 3, 4, 5

ValueError: too many values to unpack (expected 2)

In [30]:
n1, *n2 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2}")

n1=1
n2=[2, 3, 4, 5]

In [31]:
n1, *n2, n3 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2} \nn3={n3}")  # n2 is of type list

n1=1
n2=[2, 3, 4]
n3=5