## Tuple

In [1]:
mylist=[12,9,88,[33,23],(3,)]
print(f"{id(mylist)}  {type(mylist)}")

mytuple=(12,9,88,[33,23],(3,))
print(f"{id(mytuple)}  {type(mytuple)}")

139816590669504  <class 'list'>
139816600794784  <class 'tuple'>

In [2]:
another_tuple = (99.9)
print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'float'>

TypeError: object of type 'float' has no len()

In [3]:
result = (99.9)
print(type(result), result)

result = (99.9 + 232 / 322 * 23) * 4
print(type(result), result)

<class 'float'> 99.9
<class 'float'> 465.8857142857143

In [4]:
another_tuple = (99.9,)
print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'tuple'>
len(another_tuple)  1

In [5]:
another_tuple

(99.9,)

In [6]:
# NOTE: For tuple with single element, place comma at the end
# to recognize it as tuple; else recognizes as individual element

In [7]:
empty_tuple = ()  # tuple()
print("type(empty_tuple):", type(empty_tuple))
print("len(empty_tuple) :", len(empty_tuple))

type(empty_tuple): <class 'tuple'>
len(empty_tuple) : 0

In [8]:
mytuple = 1, 2, 3
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 3
(1, 2, 3)

In [9]:
mytuple = 1,
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 1
(1,)

## Attributes

In [10]:
mytuple = (12, 5, 6, 8, (5,))
print(dir(mytuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [11]:
print("len(mytuple)           =", len(mytuple))
print("mytuple.__len__()      =", mytuple.__len__())
assert len(mytuple) == mytuple.__len__()

len(mytuple)           = 5
mytuple.__len__()      = 5

In [12]:
print("str(mytuple)           =", str(mytuple))
print("type(str(mytuple))     =", type(str(mytuple)))
print("mytuple.__str__()      =", mytuple.__str__())
print("type(mytuple.__str__())=", type(mytuple.__str__()))
assert str(mytuple) == mytuple.__str__()

str(mytuple)           = (12, 5, 6, 8, (5,))
type(str(mytuple))     = <class 'str'>
mytuple.__str__()      = (12, 5, 6, 8, (5,))
type(mytuple.__str__())= <class 'str'>

In [13]:
# Tuple repetition operation - original object not modified
print()
print("mytuple * 3            =", mytuple * 3)
print("mytuple                =", mytuple)
print("mytuple.__mul__(3)     =", mytuple.__mul__(3))
print("mytuple                =", mytuple)

mytuple * 3            = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))
mytuple.__mul__(3)     = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))

In [14]:
mytuple.__imul__(3)

AttributeError: 'tuple' object has no attribute '__imul__'

In [15]:
print(f"{mytuple  == (12, 5, 6, 8, (5,))     = }")
print(f"{mytuple.__eq__((12, 5, 6, 8, (5,))) = }")

mytuple  == (12, 5, 6, 8, (5,))     = True
mytuple.__eq__((12, 5, 6, 8, (5,))) = True

In [16]:
print("\n Tuple Attributes excluding dunder methods")
for each_attribute in dir(mytuple):
    if not each_attribute.startswith("__"):
        print(each_attribute)

 Tuple Attributes excluding dunder methods
count
index

In [1]:
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

NameError: name 'mytuple' is not defined

In [2]:
mytuple = (12, 5, 6, 8, (5))
#          0   1  2  3   4
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, 5)
mytuple.count(5)       = 2

In [3]:
print("mytuple.index(8)       =", mytuple.index(8))
print("mytuple.index(5)       =", mytuple.index(5))

mytuple.index(8)       = 3
mytuple.index(5)       = 1

In [4]:
try:
    print("mytuple.index(55)      =", mytuple.index(55))
except ValueError as ex:
    print(ex)

tuple.index(x): x not in tuple

## Tuple operations

In [5]:
# Tuple concatenation

# Python is strictly type language
#   - operation is possible with same/similar types only
result = (9, 99) + (99,)
print("result   :", result)
 
result = ((9, 99) + (99,),)   # + is having more priority than , 
print("result   :", result)

result   : (9, 99, 99)
result   : ((9, 99, 99),)