## Tuple

In [1]:
mylist=[12,9,88,[33,23],(3,)]
print(f"{id(mylist)}  {type(mylist)}")

mytuple=(12,9,88,[33,23],(3,))
print(f"{id(mytuple)}  {type(mytuple)}")

139816590669504  <class 'list'>
139816600794784  <class 'tuple'>

In [2]:
another_tuple = (99.9)
print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'float'>

TypeError: object of type 'float' has no len()

In [3]:
result = (99.9)
print(type(result), result)

result = (99.9 + 232 / 322 * 23) * 4
print(type(result), result)

<class 'float'> 99.9
<class 'float'> 465.8857142857143